* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

html, body, #container {
    height: 100%;
    margin: 0;
    background-color: #FAFAFA;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .container-login {
    width: 70vh;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5vh;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.25);
}

/* Container top */

#container .container-login .container-top {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#container .container-login .container-top .line-blue {
    width: 100%;
    height: 2vh;
    border-radius: 1vh 1vh 0 0;
    background-color: #00579D;
}

#container .container-login .container-top .logo {
    width: 8.5vw;
    height: 12vh;
    background-image: url("../img/logo-weg.svg");
    background-position: center;
    background-size: cover;
}

/* Container bottom */

#container .container-login .container-bottom {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#container .container-login .container-bottom .container-input {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 5px 0px;
}

#container .container-login .container-bottom .container-input .user {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 1.5vh 0px;
}

#container .container-login .container-bottom .container-input .user input:first-child {
    margin-top: 4vh;
    margin-bottom: 6vh;
}

#container .container-login .container-bottom .container-input .user input {
    width: 22vw;
    height: 5vh;
    background-color: transparent;
    border: 0vh;
    border-bottom: 0.4vh solid #afafaf;
    outline: 0;
    color: #505050;
    font-size: 3vh;
}

#container .container-login .container-bottom .container-btn {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#container .container-login .container-bottom .container-btn button {
    width: 8vw;
    height: 6vh;
    border-radius: 1vh;
    border: 0;
    margin-right: 10vh;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #005DA5;
    color: white;
    font-size: 2.8vh;
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.25);
}

#container .container-login .container-bottom .container-btn button:hover {
    cursor: pointer;
    background-color: rgb(0, 79, 139)
}

#container .container-login .container-bottom .container-btn a {
    color: #005DA5;
    font-size: 2.8vh;
    font-weight: bold;
    text-decoration: none;
}

/* Placeholder e Label -> teste */

label {
    width: 0vh;
    margin-top: -12vh;
    margin-left: -48vh;
    cursor: text;
    font-size: 2.5vh;
    padding: 1vh;
    color: #00579D;
    font-weight: bold;
}

input:focus + label, .searchformfld input:not(:placeholder-shown) + label {
    transform: scale(0.9) translateY(-100%) translateX(-3vh); 
}

#container .container-login .container-bottom .container-input .user input:focus {
    border-bottom: 0.4vh solid #00579D;
    transition: border 0.5s;
}

input:valid + label {
    transform: scale(0.9) translateY(-100%) translateX(-3vh); 
}

input {
    width: 100%;
    padding-left: 2vh;
}

label, input {
    transition: all 0.2s;
}
